body {
	font-family: Arial;
	font-size:  15px;
	padding: 0px;
	margin: 0px;
}

a {
	color: black;
}

.BackAndForthNav a {
	margin: 1rem;
	text-decoration: none;
	position: absolute;
	top: 0px;
}

.BackAndForthNav a:hover {
	border-bottom: 1px solid black;
}

.BackAndForthNav a.Prev {
	left: 0px;
}

.BackAndForthNav a.Next {
	right: 0px;
	text-align: right;
}

.Content {
	width: 50%;
	margin: 0 auto;
}

p {
	padding: 1rem;
	margin:  0px;
}

img {
	max-width: 100%;
}